@font-face {
    font-family: DejaVuSansMono;
    src: local(DejaVuSansMono), url('/fonts/DejaVuSansMono.ttf') format('opentype');
}

body {
    font-family: DejaVuSansMono;
    color: rgb(0,204,0);
    background-color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 100%;
}

div#header {
    border-bottom: 2px solid rgb(0,204,0);
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: rgb(0,204,0);
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: rgb(0,204,0);
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    width: 100%;
    color: rgb(0,204,0);
    font-size: 12px;
    margin-top: 30px;
    padding: 0px;
    text-align: right;
    position:absolute;
    bottom:1%;
    right: 1%;
}

div#footer a {
    color: rgb(0,204,0);
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: rgb(0,204,0);
    font-size: 14px;
    font-style: italic;
}

div#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#footer img {
    position:absolute;
    bottom: 1%;
    left: 1%;
    padding-left: 1%;
}
